    <mat-toolbar color="primary">

        <ng-container *ngIf = "user | async as U; else unlogged" >
            <h1 id="title">MIAHOOT</h1>
            <div class="profile-infos">
                <button mat-stroked-button color="accent" (click)="logout()">LOGOUT</button>
                {{U.displayName}}
            </div>
            <button [matMenuTriggerFor]="menu">
                <img [src]="U.photoURL" class="profile-picture"/>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="toAccountConfig()">Configurer</button>
            </mat-menu>
            
        </ng-container>
        <ng-template #unlogged>
            <button mat-stroked-button color="warm" (click)="login()">LOGIN GOOGLE</button>
        </ng-template>

    </mat-toolbar>  

<mat-progress-spinner *ngIf="bsIsAuth | async" mode="indeterminate">
   En cours d'authentification 
</mat-progress-spinner>



<router-outlet></router-outlet>